/*Root*/
:root {
    --nav-bg-color: #000000;
    --right-section-header-bg-color: #090B12;
    --right-section-bg-color: #141922;
    --footer-bg-color: #282828;
    --text-color-white: white;
    --text-color-grey: #717171;
    --font-size-main: 14px;

}

/* GENERAL */

html {
    font-family: 'Montserrat', sans-serif;
    color: white;
    font-size: var(--font-size-main);
}
html, body {
    height: 100%;
    overflow: hidden;
}

body {
    display: block;
    margin: 0;
    padding: 0;
}

footer {
    background-color: var(--footer-bg-color);  
    color: white;
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 60px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 20px;
    z-index: 10;
}


img {
    width: 30px;
    max-width: 100%;
}

.main-section {
    display: flex;
    justify-content: space-between;
    height: calc(100vh - 70px);
    padding-bottom: 100px;
}

.right-section {
    flex-grow: 3;
    background-color: var(--right-section-bg-color);
    height: 100%;
    overflow-y: auto;
    padding-bottom: 100px;
}


.main-button a {
    display: inline-block;
    text-decoration: none;
    color: var(--text-color-white);
    border: 1px solid white;         
    border-radius: 25px;
    padding: 10px 25px;
    font-size: 12px;
}

a {
    vertical-align: middle;
    padding-right: 8px;
    color: var(--text-color-grey);
    text-decoration: none;
}

.active {
    border-left: 2px solid lime;
}

.active2 {
    display: inline-block;
    border-bottom: 2px solid lime;
}

p {
    margin: 50px auto 0;
    text-align: center;
}

/* MAIN */

.left-nav {
    padding: 25px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
    background-color: var(--nav-bg-color);
    overflow: hidden;
}

.right-section {
    flex-grow: 3px;
    background-color: var(--right-section-bg-color);
    height: calc(100vh - 100px) - 70px;
}

.right-header-section {
    background-color: var(--right-section-header-bg-color);
    position: sticky;
    height: 70px;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding: 0 20px;
}

.round-image img {
    border-radius: 50%;
}

.left-nav {
    padding: 35px;
}

.left-nav .logo-spotify {
    padding-bottom: 25px;
}

.logo-spotify img {
    width: 120px;
}

.logo-spotify-small img {
    width: 37px;
}

.left-nav h5 {
    padding-top: 20px;
}

.left-nav-items * {
    padding: 5px 0;
}

.left-nav-items a {
    font-size: 13px;
    color: var(--text-color-grey);
}
.create-playlist a {
    padding-left: 10px;
    font-size: 14px;
}

.create-playlist i {
    vertical-align: middle;
    color: var(--text-color-white);
}


.left-nav {
    display: flex;
    flex-direction: column;
     padding: 1rem 0;
    background-color: var(--nav-bg-color);
    overflow-y: hidden;
}


.left-nav-bottom-section {
    margin-top: 20px;
    padding-top: 8px;
    overflow: hidden;
}


.playlist {
    padding: 10px;
   
    color: #fff;
    cursor: pointer;
}
.playlist-section {
    flex-grow: 1;
    overflow-y: auto;
    max-height: 200px;
    scrollbar-width: thin;
    scrollbar-color: dark grey;
}

.playlist-section::-webkit-scrollbar {
    width: 12px;
}

.playlist-section::-webkit-scrollbar-thumb {
    background-color: #717171;
    border-radius: 10px;
}

.playlist-section:hover {
    overflow-y: scroll;
}

.left-nav-bottom-section {
    margin-top: 20px;
    padding-top: 10px;
    padding-bottom: 90px;
}

.left-nav-bottom-section * {
    padding: 5px 0;

}
.left-nav-bottom-section i {
    vertical-align: middle;
    padding-right: 8px;
    color: var(--text-color-grey);
}

.left-nav-bottom-section a {
    text-decoration: none;
    font-size: 13px;
    color: var(--text-color-grey);
}

.user-section {
    border-top: 1px solid var(--text-color-grey);
}

/* NAV */

nav {
    text-align: center;
    padding-top: 30px;
    padding-bottom: 40px;
}

nav a {
    text-decoration: none;
    color: var(--text-color-grey);
    font-weight: bold;
    font-size: 13px;
    padding: 0 10px;
}

.list-section-top {
    padding: 0 20px;
}

/* Sezione Music*/
.music-section {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    justify-content: flex-start;
    margin-bottom: 50px;
}

.music-section-card {
    width: 180px;
    text-align: center;
}

.music-section-card img {
    width: 200%;
    
}

.music-section-card h4 {
    font-size: 16px;
    font-weight: 600;
    margin: 10px 0 5px;
    white-space: normal;
    word-wrap: break-word;
    overflow: visible;
    text-overflow: unset;
    display: block;
}

.music-section-card h6 {
    font-size: 12px;
    color: #717171;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    margin-bottom: 10px;
}
/* FOOTER */

footer i {
    padding: 0 10px;
}

footer {
    background-color: var(--footer-bg-color);  
    color: white;
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 80px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 20px;
    z-index: 10;
}

footer > * {
    width: calc(100%/3);
}

footer img {
    max-width: 70px;
}

.listening-section-left {
    display: flex;
    align-items: center;
}

.listening-section-left > :nth-child(2) {
    padding: 0 10px;
}
.listening-section-left p {
    margin-bottom: 0;
    font-size: 14px;
}
.listening-section-left h6 {
    margin-top: 5px;
    font-size: 12px;
    color: var(--text-color-grey);
}

.listening-section-center i {
    padding-bottom: 10px;
    vertical-align: middle;
}

.listening-section-center {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.song-status-section {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    padding-top: 5px;
}


.song-status-section h6 {
    padding: 0 15px;
}

.song-status {
    width: 80%;
    background-color: var(--text-color-grey);
    border: 1px solid var(--text-color-grey);
    border-radius: 25px;
    height: 5px;
    margin: 0 10px;
}

.song-status-playing {
    width: 20%;
    background-color: var(--text-color-white);
    border-radius: 25px;
    height: 100%;
}

.volume-section {
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.volume-section > :nth-child(1) {
    padding: 0 5px;
}

.volume-status {
    width: 30%;
    background-color: var(--text-color-grey);
    border: 1px solid var(--text-color-grey);
    border-radius: 25px;
}

.volume-status-playing {
    width: 20%;
    border: 1px solid var(--text-color-white);
    border-radius: 25px;
}
.controls {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
}

.controls i {
    padding: 0 10px;
    font-size: 1.5rem;
}

.time-start, .time-end {
    color: var(--text-color-grey);
    font-size: 12px;
    width: 40px;
    text-align: center;
}
.logo-spotify .logo-mobile {
    display: none;
}

.logo-spotify .logo-desktop {
    display: block;
}

/* MEDIA QUERY */
@media all and (max-width: 576px) {
    .left-nav {
        width: 80px;
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .left-nav a {
        display: none;
    }

    .left-nav img {
        width: 50px;
        min-width: 40px;
        height: auto;
        margin: 10px 0;
    }

    .logo-spotify .logo-mobile {
        display: block;
        width: 70px;
        margin: 0 auto;
    }

    .logo-spotify .logo-desktop {
        display: none; 
    }

    .left-nav .logo-spotify {
        display: flex;
        align-items: center;
        justify-content: center;
        margin-bottom: 20px;
    }

    .create-playlist {
        display: none;
    }

    .playlist-section {
        display: none; 
    }

    .user-section {
        display: flex;
        justify-content: center; 
        width: 100%;
    }

    .user-section i {
        margin: 0 auto; 
    }

    h5 {
        display: none; 
    }
}
  /*Media Tablet - MD */
 /*@media all and (min-width: 768px) {
    .left-nav {
        width: 80px;
        display: flex;
        flex-direction: column;
        align-items: center;
        
    }

    .left-nav a {
        display: none;
        
    }

    .left-nav img {
        width: 50px;
        margin: 10px 0;
    }

    .logo-spotify .logo-mobile {
        display: block;
    }

    .logo-spotify .logo-desktop {
        display: none;
       
    }

    .left-nav .logo-spotify {
        justify-content: center;
        margin-bottom: 20px;
    }

    .create-playlist {
        display: none;
    }

    .playlist-section {
        display: none;
       
    }

    .user-section {
        display: flex;
        justify-content:center;
        width: 100%;
    }

    .user-section i { 
        margin:0 auto;
    }

    h5 {
        display:none;
    }

    .music-section-card {
        width: 180px;
        text-align: center;
    }

    .music-section-card img {
        width: 200%;
       
    }

    .music-section-card h4 {
        font-size: 16px;
        margin: 10px 0 5px;
    }

    .music-section-card h6 {
        font-size: 12px;
        margin-bottom: 10px;
    }

  
    } */
       /*Media Desktop - LG */
  @media all and (min-width: 992px) {
    /*.left-nav {
        width: 80px;
        display: flex;
        flex-direction: column;
        align-items: center;
        
    }

    .left-nav a {
        display: none;
        
    }

    .left-nav img {
        width: 50px;
        margin: 10px 0;
    }

    .logo-spotify .logo-mobile {
        display: block;
    }

    .logo-spotify .logo-desktop {
        display: none;
        width: 110px;
    }

    .left-nav .logo-spotify {
        justify-content: flex;
        margin-bottom: 20px;
    }

    .create-playlist {
        display: none;
    }

    .playlist-section {
        display: none;
      
    }

    .user-section {
        display: flex;
        justify-content: center;
        width: 100%;
    }

    .user-section i {
        border-top: 1px solid var(--text-color-grey);
    }
    h5 {
        display: none; 
    }
    

    .music-section-card {
        width: 180px;
        text-align: center;
    }

    .music-section-card img {
        width: 200%;
       
    }

    .music-section-card h4 {
        font-size: 16px;
        margin: 10px 0 5px;
    }

    .music-section-card h6 {
        font-size: 12px;
        margin-bottom: 10px;
    }

    .right-section {
        flex-grow: 3px;
    }

    .main-section {
        justify-content: space-between;
    }

    .right-header-section {
        padding-bottom: 100px;
    }
}

       /*Media Desktop - XL */
  @media all and (min-width: 1200px) {
    /*.left-nav {
       
        display: flex;
        flex-direction: column;
        align-items: center;
        
    }

    .left-nav a {
        display: none;
    }

    .left-nav img {
        width: 50px;
        margin: 10px 0;
    }

    .logo-spotify .logo-mobile {
        display: block;
    }

    .logo-spotify .logo-desktop {
        display: none;
        width: 110px;
    }

    .left-nav .logo-spotify {
        justify-content: flex;
        margin-bottom: 20px;
    }

    .create-playlist {
        display: none;
    }

    .playlist-section {
        display: none;
    }

    .user-section {
        display: flex;
        justify-content: center;
        width: 100%;
    }

    .user-section i {
        margin-right: 0 auto;
    }

    h5 {
        display: none;
        
    }

    .music-section-card {
        width: 180px;
       text-align: center;
    }

    .music-section-card img {
        width: 200%;
        
    }

    .music-section-card h4 {
        font-size: 16px;
        margin: 10px 0 5px;
    }

    .music-section-card h6 {
        font-size: 12px;
        margin-bottom: 10px;
    }

    .right-section {
        overflow-y: auto;
    }

    .right-header-section {
        padding: 0 20px;
    }
}
